<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="javaMapperPackage" value="com.example.demo.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/springboot/src/main/java" />
        <option name="javaModelPackage" value="com.example.demo.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/springboot/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="springboot" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="springboot">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.example.demo.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/springboot/src/main/java" />
                  <option name="javaModelPacakge" value="com.example.demo.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/springboot/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/springboot/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="shike:bill">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Bill" />
                  <option name="moduleName" value="springboot" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="shike:member">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Member" />
                  <option name="moduleName" value="springboot" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useExample" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/springboot/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>